


<div class="container-wrapper container d-flex justify-content-center align-items-center">
    <div class="form-wrapper text-center" style="width: 80%; background-color: #eef ; padding: 1.5em">
        <h2 class="text-center">Add/Edit Traveler </h2>
        <form [formGroup]="travelerForm" (submit)="submit()" novalidate>
            
            <div class="form-group">
                <label for="firstName-input"><span translate>firstName</span></label>
<input type="text" class="form-control"     formControlName="firstName"  id="firstName-input"  [(ngModel)]="entity.firstName"
>
                <div class="alert alert-danger" *ngIf="travelerForm.get('firstName').errors && travelerForm.get('firstName').touched">
                    <p *ngIf="travelerForm.get('firstName').errors.required">Required !</p>
                    <p *ngIf="travelerForm.get('firstName').errors.pattern">Invalid input!</p>
                </div>
            </div>



            <div class="form-group">
                <label for="lastName-input"><span translate>lastName</span></label>
<input type="text" class="form-control"     formControlName="lastName"  id="lastName-input"  [(ngModel)]="entity.lastName"
>
                <div class="alert alert-danger" *ngIf="travelerForm.get('lastName').errors && travelerForm.get('lastName').touched">
                    <p *ngIf="travelerForm.get('lastName').errors.required">Required !</p>
                    <p *ngIf="travelerForm.get('lastName').errors.pattern">Invalid input!</p>
                </div>
            </div>



            <div class="form-group">
                <label for="gender-input"><span translate>gender</span></label>
<ng-select     formControlName="gender"  id="gender-input"  [(ngModel)]="entity.gender"
>
<ng-option value="Male">MALE</ng-option>
<ng-option value="Female">FEMALE</ng-option>
<ng-option value="Transgender">TRANSGENDER</ng-option>
                        </ng-select>

                <div class="alert alert-danger" *ngIf="travelerForm.get('gender').errors && travelerForm.get('gender').touched">
                    <p *ngIf="travelerForm.get('gender').errors.required">Required !</p>
                    <p *ngIf="travelerForm.get('gender').errors.pattern">Invalid input!</p>
                </div>
            </div>



            <div class="form-group">
                <label for="dob-input"><span translate>dob</span></label>
<div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"     formControlName="dob"  id="dob-input"  [(ngModel)]="entity.dob"

                                     ngbDatepicker #d_dob="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="d_dob.toggle()" type="button">
                                    <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                                </button>
                            </div>
                        </div>
                <div class="alert alert-danger" *ngIf="travelerForm.get('dob').errors && travelerForm.get('dob').touched">
                    <p *ngIf="travelerForm.get('dob').errors.required">Required !</p>
                    <p *ngIf="travelerForm.get('dob').errors.pattern">Invalid input!</p>
                </div>
            </div>



            <div class="form-group">
                <label for="relationship-input"><span translate>relationship</span></label>
<ng-select     formControlName="relationship"  id="relationship-input"  [(ngModel)]="entity.relationship"
>
<ng-option value="Spouse">SPOUSE</ng-option>
<ng-option value="Dependant">DEPENDANT</ng-option>
                        </ng-select>

                <div class="alert alert-danger" *ngIf="travelerForm.get('relationship').errors && travelerForm.get('relationship').touched">
                    <p *ngIf="travelerForm.get('relationship').errors.required">Required !</p>
                    <p *ngIf="travelerForm.get('relationship').errors.pattern">Invalid input!</p>
                </div>
            </div>



            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>